h2 {
    font-size: 36px;
    text-align: center;
    
}

.sil {
    background-color: black;
    color: white
}

.tad {
    background-color: lightgray;
}

.invnum {
    font: bold;
    font-size: 144px
}

.inv {
    width: 35px
}

h3 {
    font-size: 24px;
    text-align: center;
    
}

.cb {
    width: 100%;
    height: 25px;
}